body {
  font-family: sans-serif;
  background-color: #829fd9;
}

input {
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
  outline: none;
}

button {
  color: white;
  margin-right: 4px;
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
  outline: none;
  background-color: #230a59;
}

button:hover {
  background-color: #5c73f2;
  color: white;
  cursor: pointer;
}

li {
  margin-right: 8px;
  color: white;
}

.input-area {
  /* background-color: rgba(45, 106, 79); */
  width: 400px;
  height: 30px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.incomplate-area {
  background-color: #3e38f2;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.complate-area {
  background-color: #3e38f2;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.title {
  color: white;
  text-align: center;
  margin-top: 0;
  font-weight: bold;
}

.list-row {
  display: flex;
  align-items: center;
  padding-bottom: 6px;
}
